@font-face {
  font-family: "iconfont"; /* Project id 4728444 */
  src: url('iconfont.woff2?t=1730261484016') format('woff2'),
       url('iconfont.woff?t=1730261484016') format('woff'),
       url('iconfont.ttf?t=1730261484016') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-i18n:before {
  content: "\e639";
}

.icon-i18n-delete:before {
  content: "\e63a";
}

